<footer class="footer text-center">
  <div class="row flex-nowrap d-flex justify-content-center contact-info gap-2 mb-5 mx-4">
    <div class="col-md-4 col-lg-4 ftco-animate shadow">
      <div class="align-self-stretch box text-center p-4">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-phone2"></span>
        </div>
        <div>
          <h3 class="mb-4">Contact Number</h3>
          <p>+ 1235 2355 98</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 ftco-animate shadow">
      <div class="align-self-stretch box text-center p-4">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-phone2"></span>
        </div>
        <div>
          <h3 class="mb-4">Email Address</h3>
          <p>zobaer1979@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 ftco-animate shadow">
      <div class="align-self-stretch box text-center p-4">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-phone2"></span>
        </div>
        <div>
          <h3 class="mb-4">Address</h3>
          <p>198 West 21th Street, Suite 721 Scarborough, Canada</p>
        </div>
      </div>
    </div>
  </div>   
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 2021 Sayed Zobaer - All Rights Reversed</small>
  </div>
</div>

