<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Header-->
    <header class="masthead bg-success text-white text-center" style="padding-top: 30;">
      <div class="container">
        <span style="font-size: 120px;"> </span>
        <img
          class="rounded-circle"
          src="/static/img/portfolio/avatar.png"
          alt="avatar"
        />
        <h1 class="text-uppercase mb-0">Abu Sayed Mohammad Zobaer</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">Web Developer</h2>
        <p>I am a web developer who has strong experiences in web development<p>
        <p>Experience: Software Development, Web Designing, Web Marketing, Art & Creative Director, Wordpress Development</p>
      </div>
    </header>   

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
