<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Header-->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <span style="font-size: 120px;"> </span>
        <img
          class="rounded-circle"
          src="/static/img/portfolio/avatar.png"
          alt="avatar"
        />
        <h1 class="text-uppercase mb-0">Sayed Zobaer</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">Web Developer</h2>
      </div>
    </header>

    <!--Portfolio Grid Section-->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          Pages
        </h2>
        <hr class="star-dark mb-5" />
        <div class="row">
          <!--Movie Finder-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-movie-finder"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>
                    Home Page: You can see overview about this site on this page
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/cabin.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--Weather App-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-weather-app"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>
                    About Me:You can know about me in more detail on this page
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/submarine.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--VSTDA-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/React100_VSTDA_MOB_MLaurel"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>
                    Projects Page: You can see the projects I built in the past on this page.
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/cake.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--Budget Tracker-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>
                    Services Page: You can know my services on this page.
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/safe.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--YLD-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>Contace Page: You can contact me using the information on this page</p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/circus.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--DingDongBot-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="portfolio-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content my-auto w-100 text-center text-white"
                >
                  <p>Thank you very much for visiting my site.</p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/game.png"
                alt="Movie Finder"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--About Section-->
    <section class="bg-primary text-white mb-0" id="About">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5" />
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              Creative Front-End Web Developer with the ability to coordinate
              detail oriented large scale projects, motivated with a passion to
              execute and implement tools necessary for success.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              A Regular in the San Diego JavaScript community. Please Check out
              more of my projects on GitHub (github.com/travezripley), and
              Follow my Journey on Youtube.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
