<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Header-->
    <header class="masthead bg-success text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <img
              class="rounded-circle"
              src="/static/img/portfolio/avatar.png"
              alt="avatar"
            />
          </div>
          <div class="col text-center">
            <h2>Welcome to visit my website!!!</h2>
            <hr />
            <p class="fs-4">
              You can see my information on this site and if necessary, you can
              contact me.
            </p>
            <p class="fs-4">
              Don't hesitate to contact. Please try, try, try!!!
            </p>
          </div>
        </div>
        <hr />
        <br />
        <br />
        <br />
        <a type="button" class="btn btn-warning" href="/">Home page</a>
        <a type="button" class="btn btn-warning" href="aboutme" >About me</a>
        <a type="button" class="btn btn-warning" href="projects">Projects page</a>
        <a type="button" class="btn btn-warning" href="services">Services page</a>
        <a type="button" class="btn btn-warning" href="contact">Contact me</a>
      </div>
    </header>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
