<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          My Services
        </h2>
        <hr class="star-dark mb-5" />
        <div class="row">
          <!--Movie Finder-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-movie-finder"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>
                    Home Page: You can see overview about this site on this page
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/cabin.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--Weather App-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-weather-app"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>
                    About Me:You can know about me in more detail on this page
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/submarine.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--VSTDA-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/React100_VSTDA_MOB_MLaurel"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>
                    Projects Page: You can see the projects I built in the past
                    on this page.
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/cake.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--Budget Tracker-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>Services Page: You can know my services on this page.</p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/safe.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--YLD-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>
                    Contace Page: You can contact me using the information on
                    this page
                  </p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/circus.png"
                alt="Movie Finder"
              />
            </a>
          </div>
          <!--DingDongBot-->
          <div class="col-mn-6 col-lg-4">
            <a
              class="portfolio-item d-block mx-auto"
              href="https://github.com/travezripley/react200-budget-tracker"
            >
              <div
                class="
                  portfolio-item-caption
                  d-flex
                  position-absolute
                  h-100
                  w-100
                "
              >
                <div
                  class="
                    portfolio-item-caption-content
                    my-auto
                    w-100
                    text-center text-white
                  "
                >
                  <p>Thank you very much for visiting my site.</p>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/static/img/portfolio/game.png"
                alt="Movie Finder"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
