<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          My Services
        </h2>
        <hr class="star-dark mb-5" />
        <div class="card-group">
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/webDesign.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Web Design</h5>
              <p class="card-text">
                I have more than 3 years of experiences in web design.
              </p>
            </div>
          </div>
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/photography.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Photography</h5>
              <p class="card-text">
                I have more than 2 years of experiences in Photography.
              </p>
            </div>
          </div>
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/webDevelopment.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Web Development</h5>
              <p class="card-text">
                I have more than 2 years of experiences in web development.
              </p>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div class="card-group">
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/game.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">App Developing</h5>
              <p class="card-text">
                I have more than 2 years of experiences in app development.
              </p>
            </div>
          </div>
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/branding.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Branding</h5>
              <p class="card-text">
                I have more than 3 years of experiences in branding.
              </p>
            </div>
          </div>
          <div class="card mx-4 text-white bg-secondary">
            <img
              src="/static/img/portfolio/strategy.png"
              class="card-img-top"
              alt="Web Design"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Product Strategy</h5>
              <p class="card-text">
                I have more than 3 years of experiences in Product Strategy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
